# Упражнения, чтобы проверить и улучшить свои знания по программированию на Python
## *Просьба скачать этот файл себе на компьютер и работать с ним там.*
Ниже представлено 54 упражнения, представляющих собой код с пропущенными фрагментами, которые надо воспроизвести. Часть из этих упражнений очень простые, над некоторыми надо хорошенько подумать.

Удачи в их выполнении!

## Упражнение 1
Допишите пропущенную часть кода, чтобы вывести на экран фразу "Hello world".

In [ ]:
print("Hello

SyntaxError: ignored

## Упражнение 2
С помощью отступов исправьте программу, чтобы выводилось сообщение

In [ ]:
if 5 > 2:
print("Пять больше двух!")

IndentationError: ignored

## Упражнение 3
Для записи комментариев в Python используется специальный символ. Превратите строку следующей ячейки в комментарий.

In [ ]:
Это комментарий, а не код

SyntaxError: ignored

## Упражнение 4
Помимо однострочных комментариев в Python можно делать и пногострочные. Прератите текст в ячейке ниже в многострочный комментарий.

In [ ]:
Это комментарий, записанный
в более чем одну строку

SyntaxError: ignored

## Упражнение 5
Создайте переменную myName и присвойте ей значение в виде своего имени.

## Упражнение 6
Создайте переменную y и присвойте ей значение 1000.

## Упражнение 7
Используя переменные x и y, выведите сумму чисел 50 и 60.

## Упражнение 8
Для нахождения суммы x и y создайте переменную z. Выведите результат сложения на экран.

In [ ]:
x = 5
y = 10

## Упражнение 9
Уберите из имени переменной только те символы, которые нельзя использовать для создания переменных.

In [ ]:
myfirst_name = "Василий"

## Упражнение 10
Используя функцию len, выведите на экран значение длины строки

In [ ]:
x = "Hello World"

## Упражнение 11
Присвойте переменной x значение первого символа строки txt.

In [ ]:
txt = "Hello World"

'H'

## Упражнение 12
Присвойте переменной x значение строки из символов со второй по пятый из строки txt.

In [ ]:
txt = "Hello World"

## Упражнение 13
Присвойте переменной x значение строки txt, только без пробелов в начале и конце.

In [ ]:
txt = " Hello World "

## Упражнение 14
Преобразуйте строку txt в строку, состаящую только из заглавных букв.

In [ ]:
txt = "Hello World"

'HELLO WORLD'

## Упражнение 15
Преобразуйте строку txt в строку, состоящую только из строчных букв.

In [ ]:
txt = "Hello World"

## Упражнение 16
Замените в строке символ __H__ на символ **J**.

In [ ]:
txt = "Hello World Hi"

'Jello World Ji'

## Упражнение 17
Перемножьте числа 110 и 53 и выведите результат.

5830

## Упражнение 18
Выведите на экран остаток от деления 57 и 13

## Упражнение 19
Используйте правильный оператор принадлежности, чтобы проверить, является ли яблоко элементом списка фруктов.

In [ ]:
fruits = ["apple", "banana"]

  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

## Упражнение 20
Используйте оператор неравенства.

In [ ]:
if 5 10:
print("5 and 10 is not equal")

5 and 10 is not equal

## Упражнение 21
Используйте логический оператор, чтобы проверить наличие истинности хотя бы одного из двух условий.

In [ ]:
if 5 == 10  4 == 4:
print("Хотя бы одно из условий истинно")

Хотя бы одно из условий истинно

## Упражнение 22
Выведите на экран второй элемент списка.

In [ ]:
fruits = ["apple", "banana", "cherry"]

banana

## Упражнение 23
Замените в списке фруктов яблоко на киви.

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)

['kiwi', 'banana', 'cherry']

## Упражнение 24
Добавьте апельсин в спискок фруктов.

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)

['apple', 'banana', 'cherry', 'orange']

## Упражнение 25
Вставьте лимон вторым элементом списка фруктов.

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)

['apple', 'lemon', 'banana', 'cherry']

## Упражнение 26
Удалите банан из списка фруктов.

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)

['apple', 'cherry']

## Упражнение 27
Выведите первый элемент кортежа.

In [ ]:
fruits = ("apple", "banana", "cherry")

apple

## Упражнение 28
Выведите на экран число элементов кортежа.

In [ ]:
fruits = ("apple", "banana", "cherry")

3

## Упражнение 29
Проверьте, является ли яблоко элементом множества фруктов.

In [ ]:
fruits = {"apple", "banana", "cherry"}

print("Yes, apple is a fruit!")

Yes, apple is a fruit!

## Упражнение 30
Добавьте апельсин ко множеству фруктов.

In [ ]:
fruits = {"apple", "banana", "cherry"}

{'apple', 'banana', 'cherry', 'orange'}

## Упражнение 31
Используйте метод для добавления сразу нескольких элементов из списка ко множеству фруктов.

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

## Упражнение 32
Уберите банан из множества фруктов.

In [ ]:
fruits = {"apple", "banana", "cherry"}

print(fruits)

{'apple', 'cherry'}

## Упражнение 33
Уберите первый элемент из множества фруктов.

In [ ]:
fruits = {"apple", "banana", "cherry"}

print(fruits)

{'banana', 'cherry'}

## Упражнение 34
Выведите на экран значение для ключа "model" словаря "car".

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Mustang

## Упражнение 35
Замените в словаре значение года на 2019.

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

## Упражнение 36
Добавьте элемент в словарь с ключом "color" и значчением "red".

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Упражнение 37
Удалите элемент модели из словаря.

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

{'brand': 'Ford', 'year': 1964}

## Упражнение 38
Очистите словарь.

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

{}

## Упражнение 39
Дополните текст программы таким образом, чтобы в случае если a больше чем b, выводилось сообщение.

In [ ]:
a = 50
b = 10

print("Hello World")

Hello World

## Упражнение 40
Если a не равно b, пусть выводится сообщение.

In [ ]:
a = 50
b = 10

print("Hello World")

Hello World

## Упражнение 41
Пусть программа выводит ответ "Да", если a равно b, и "Нет" в противном случае.

In [ ]:
a = 50
b = 10

Yes

## Упражнение 42
Если a равно b,  пусть выводится единица, двойка, если a больше b, в противном случае выводится тройка.

In [ ]:
a = 50
b = 10

2

## Упражнение 43
Пусть программа выводит сообщение, если a равно b и c равно d.

In [ ]:
a=20
b=20
c=35
d=35

Hello

## Упражнение 44
Пусть сообщение выводится в случае истинности хотя бы одного из условий.

In [ ]:
a = 10
b = 10
c = 15
d = 22

Hello

## Упражнение 45
Пусть программа выводит i пока i меньше 6.

In [ ]:
i = 1

i += 1

1
2
3
4
5

## Упражнение 46
Остановите выполнение цикла, если i равно трем.

In [ ]:
i = 1
while i < 6:
  if i == 3:


  i += 1

## Упражнение 47
Выполните цикл по элементам списка фруктов.

In [ ]:
fruits = ["apple", "banana", "cherry"]

apple
banana
cherry

## Упражнение 48
Вывести на экран все элементы списка, кроме банана.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:

apple
cherry

## Упражнение 49
С помощью функции range выполните цикл 6 раз.

0
1
2
3
4
5

## Упражнение 50
Создайте свою функцию.

## Упражнение 51
Запустите функцию, созданную в предыдущем упражнении.

Hello from a function

## Упражнение 52
Для функции с двумя параметрами сделайте, чтобы она выводила второ параметр на экран.

## Упражнение 53
Сделайте функцию, которая возводит число в степень, также равную этому числу.

In [ ]:
def my_function(x):

## Упражнение 54
Создайте анонимную функцию, которая получает один параметр и выводит его на экран.

5